<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gervkuete.mappers.EmployeeMapper">

	<resultMap type="com.gervkuete.model.Employee" id="employeemap">
		<id column="employee_id" property="employee_id" />
		<result column="firstname" property="firstName" />
		<result column="lastname" property="lastName" />
		<result column="email" property="email" />
		<result column="phonenumber" property="phoneNumber" />
	</resultMap>

	<select id="getAllEmployees" resultMap="employeemap">
		select * from employee
	</select>
	
	<insert id="createEmployee"  parameterType="com.gervkuete.model.Employee" useGeneratedKeys="true" keyProperty="employee_id">
		insert into employee (first_name, last_name, email, phone_number)
		values (#{firstName},#{lastName},#{email},#{phoneNumber})
	</insert>

	<update id="updateEmployee"  parameterType="com.gervkuete.model.Employee">
		update employee set
		first_name = #{firstName},
		last_name= #{lastName},
		email = #{email},
		phone_number = #{phoneNumber}
		where employee_id = #{employee_id}
	</update>

	<delete id="deleteEmployee"  parameterType="int">
		delete from employee where employee_id = #{id}
	</delete>


</mapper>